
* {
     font-family: 'Work Sans';
}
/* header-banner styles */
/* .header{  
    padding: 0px;
} */
.banner{ 
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    height: 808px;
    margin: 0px;
    padding: 180px 100px 24px 850px;
}
.banner-header{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.btn1{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
   
}

/* main-failure */

