
* {
     font-family: 'Work Sans';
}
/* header-banner styles */
.header{   
    padding: 0px;
}
.banner{
    
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    height: 808px;
    padding: 180px 100px 0px 800px;
    margin-bottom: -90px;
  
}
.banner-header{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0px;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.btn1{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
   
}

/* main-failure */

.failure{
    
    padding: 0px 320px 20px 200px;
    margin: 0px 150px 25px 100px;
   
}

.failure-flex {
   display: flex;
   gap: 100px;
   width: 300px;
}
   

.failure-header {
    width: 300px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 30px;
    margin-bottom: 0px;
   
}

.failure-para{
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    
}

.list{
    width: 300px;
    list-style: none;
    padding-left: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
ul li:before {
    content: '✓';
    color:lightgreen;
  }
  /* plan styles */
.plan-header{
    font-weight: 700;
    font-size: 40px;
    color: #151414; 
    text-align: center;
}
.plan{
    margin: 0px 200px 0px;
    /* background-color: #151414; */
}
.my-plan{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
   
}

.plan-2nd-header{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}
.plan-para{
    font-weight: 500;
   font-size: 25px;
   color: #737272;
   text-align: center;
}