
* {
     font-family: 'Work Sans';
}
/* header-banner styles */

.banner{
    
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    height: 808px;
    padding: 180px 100px 0px 800px;
    margin-bottom: -90px;
  
}
.banner-header{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0px;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.btn1{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
   
}

/* main-failure */

.failure{
    
    padding: 0px 320px 20px 200px;
    margin: 0px 150px 25px 100px;
   
}

.failure-flex {
   display: flex;
   gap: 100px;
   width: 300px;
}
   

.failure-header {
    width: 300px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 30px;
    margin-bottom: 0px;
   
}

.failure-para{
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    
}

.list{
    width: 300px;
    list-style: none;
    padding-left: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
ul li:before {
    content: '✓';
    color:lightgreen;
  }
  /* success styles */
  .success{
    padding: 0px 320px 20px 200px;
    margin: 0px 150px 25px 150px;
  }
  .success-flex{
    display: flex;
    gap: 100px;
  }
  .header-success{
    width: 300px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 30px;
    margin-bottom: 0px;
  }
  .success-para{
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
  }
  .success-img{
    padding-top: 150px;
   
  }
  /* plan styles */
.plan-header{
    font-weight: 700;
    font-size: 40px;
    color: #151414; 
    text-align: center;
}
.plan{
    margin: 0px 80px 0px;
    /* background-color: #151414; */
    
}
.my-plan{
    display: flex;
    gap: 50px;
    justify-content: center;

}
.plan-icon{
    
    margin-left: 50px;
    
}

.plan-2nd-header{
   
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}
.plan-para{
   font-weight: 500;
   font-size: 25px;
   color: #737272;
   text-align: center;
   
}
/* watch styles */
.watch{
    margin: 10px 200px 100px;
    padding: 0px;
    background-image: url(../images/watch.png) , url(../images/gradient1.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.watch-header{
    padding:80px 400px 0px 50px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn2{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin: 0px 0px 50px 50px;
    padding: 10px;

}
/*  */
.footer-flex{
    display: flex;
    justify-content: center;
    background-color: #151414;;
}
.footer-left{
    /* margin-left: 200px;
    margin-right: 500px; */
   padding: 80px 0px 130px 200px;
   
}
.footer-header{ 
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 10px;
}
.footer-des{
    margin-right: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    
    
}
.footer-header2{
   
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.footer-right{
    padding: 90px 100px 130px 100px;
   
}
form{
    margin-bottom: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}
input{ 
    background-color: #151414;
    padding: 10px;
    font-weight: 400;
font-size: 18px;
}
a img{
    padding-right: 20px;
}
.btn3{
    background: #005FAC;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}